<div [formGroup]="addressForm">
  <mat-card>
    <mat-form-field>
        <input matInput type="text" name="place" placeholder="Place" formControlName="place">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text" name="streetName" placeholder="Street Name" formControlName="streetName">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text" name="number" placeholder="Street number" formControlName="number">
    </mat-form-field><br>
  </mat-card>
</div>